/*
	CSS SitePersoV2
*/
@import "base";

body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	@include font-smoothing(antialiased);
	font-size: 16px;
	background-color:  $background-color;
	color: $font-color;
	text-align: center;
}
strong{
	font-weight: bold;
}
h1{
	font-size: 3em;
	padding: 1% 0 2% 0;
}
h2{
	font-size: 2em;
	padding: 1% 0 1% 0;
	line-height: 1.5em;
}
h3{
	font-style: italic;
	font-size: 1.5em;
	padding: 0.5% 0 1% 0;
}
li {
	list-style-type: none;
}
a, a:link, a:visited{
	color: $link-color;
	text-decoration: none;
}
h1 a, h1 a:link{
	color: $font-color;
}
ul.niv1{
	display: block;
	width: 100%;
	padding-top: 4%;
}
ul.niv1 > li a{
	color: $font-color;
	padding-bottom: 3%;
	border-bottom: $font-color solid 1px;
	font-weight: bold;
}
ul.niv1 > li:hover a{
	border-bottom: none;
}
ul.niv1 li {
	width: 33%;
	float: left;
}
ul.niv1 li:hover .niv2{
	visibility:visible;
	opacity:1;
	height: auto;
	@include transition-delay(0s);
}
.niv2{
	visibility:hidden;
	opacity:0;
	height: 0;
	@include transition(visibility 0s linear 0.5s, opacity 0.5s linear);
	margin-top: 8%;	
}
ul.niv2 li{
	width: 100%;
	margin-top: 2%;
}
ul.niv2 li a{
	cursor: pointer;
	padding-bottom: 0;
	border-bottom: none;
	font-weight: normal;
}
a.download{
	font-style: italic;
}
#profile {
	max-width: 180px;
	height:auto;
	width: 30%;
	margin: 2% auto 0 auto;
	@include border-radius(50%);
}
