/*
Responsive
 */
@import "base";

@media screen and (max-width: 1024px) {
	
	#resume {
			width: 70%;
			font-size: 1.15em;

		}
		/* passage de l'xp sous descriptif */
	.experience .description{
		
		width: 90%;
			padding: 2% 0 2% 0;
	}

	.experience ul.competence {
		width: 90%;
			
			padding: 0 0 2% 0;
	}
	
	
	

}
@media screen and (max-width: 640px) {
	body{
		font-size: 12px;
	}
	
	#resume {
		width: 80%;
		font-size: 1.1em;
	}

	#competences ul{
		width: 90%;
		padding-top: 5%;
	}
	
	.contenu {
		padding-top: 0;
	}	
	
	.formation{
		padding-top: 5%;
	}
	ul.niv2 li{
		padding-bottom: 1%;
	}
}

@media screen and (max-width: 500px) {
	body{
		font-size: 11px;
	}
	#profile{
		max-width: 75px
	}
	h1{
		font-size: 2.5em;
	}
	ul.niv1 {
		padding-top: 6%;
	}
	ul.niv1 li {
		/* width: 100%;
		float: none; */
		margin-bottom: 10%;
		font-size: 1.1em;
	}
	ul.niv2{
		//height: 0; /*Car utilisation de visibility*/
		//@include transition(visibility 0s linear 0s, opacity 0s linear);
	}
	ul.niv1 li .niv2{
		//height: auto;
	    width: 300%;
	    padding-top: 20%;
	    font-size: 1.2em;
	}

	ul.niv1 li #niv2_pro{
		position: relative;
		left: -100%;
	}
	ul.niv1 li #niv2_perso{
		position: relative;
		left: -200%;
	}
	ul.niv2 li{
		margin-bottom: 5%;
		font-size: 1em;;
	}
	/* Pour la page CV on reste avec un menu inline */
	.nav_cv ul.niv1 li {
		width: 33%;
		float: left;
	}

	#resume {
  		width: 92%;
  	}
	.contenu {
  		width: 92%;
  		margin: 10% 2%;
  	}
}