RewriteEngine on

RewriteCond %{HTTP_HOST} ^boudon\.com [NC]
RewriteRule ^(.*)$ http://clement.boudon.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.boudon\.com [NC]
RewriteRule ^(.*)$ http://clement.boudon.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} !^clement\.boudon\.com [NC]
RewriteRule ^(.*)$ http://clement.boudon.com/$1 [L,R=301]